{% extends 'base.html.twig' %}

{% block title %}Hello VipController!{% endblock %}

{% block body %}

    <hgroup>
        <h1> Les codes promo </h1>
        <h3> Espace VIP </h3>
    </hgroup>

    <article>
        <h2> Lorem.xyz <mark>50 %</mark> </h2>
        <kbd>#34FG454DF</kbd>
    </article>

    <hgroup>
        <h1> Les codes promo </h1>
        <h3> Espace VIP </h3>
    </hgroup>

    <article>
        <h2> Ipsumem.xyz <mark>33 %</mark> </h2>
        <kbd>#ERE5656HHD34ED</kbd>
    </article>


{% endblock %}
